body {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Open Sans", sans-serif;
}
/*-----------
hdr_main
-----------*/
.hdr_main{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 850px){
    padding: 0 10px;
  }
  &::before{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    background: #111;
    opacity: .2;
  }
  h1{
    a{
      padding: 20px 5px;
      display: block;
      color: #fff;
      font-weight: 600;
      font-size: 32px;
      @media (max-width: 850px){
        font-size: 24px;
      }
    }
  }
  .pc_nav{
    max-width: 550px;
    width: 100%;
    @media (max-width: 850px){
      display: none;
    }
    ul{
      display: flex;
      align-items: center;
      justify-content: space-between;
      li{
        a{
          position: relative;
          margin: 0 2px;
          padding: 20px;
          height: 60px;
          display: inline-block;
          font-size: 18px;
          font-weight: 400;
          color: #fff;
        }
      }
    }
  }
  /*-----------
  hum_btn
  -----------*/
  #hum_btn{
    position: relative;
    z-index: 999;
    display: none;
    padding: 11px 4px;
    width: 50px;
    height: 50px;
    @media (max-width: 850px){
      display: block;
    }
    .in{
      position: relative;
      width: 100%;
      height: 100%;
      div{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 2px;
        background: #fff;
        transition: .4s;
        &:nth-of-type(1){
          bottom: 100%;
          left: 0;
        }
        &:nth-of-type(2){
          width: 75%;
        }
        &:nth-of-type(3){
          top: 100%;
          width: 50%;
        }
      }
    }
  }
  #hum_btn.on{
    .in{
      div{
        top: 0;
        &:nth-of-type(1){
          bottom: 0;
          transform: rotate(20deg) !important;
        }
        &:nth-of-type(2){
          right: 10px;
          width: 0;
          opacity: 0;
        }
        &:nth-of-type(3){
          top: 0;
          width: 100%;
          transform: rotate(-20deg)!important;
        }
      }
    }
  }
  #sp_nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: .4s;
    &::before{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 998;
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      background: #000;
      opacity: .9;
    }
    ul{
      max-width: 150px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      li{
        width: 100%;
        a{
          position: relative;
          z-index: 999;
          padding: 30px 20px;
          display:block;
          text-align: center;
          font-size: 18px;
          font-weight: 400;
          color: #fff;
          transition: .4s;
          &:hover{
            opacity: .6;
            &::before{
              opacity: .6;
            }
          }
          &::before{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            content: "";
            width: 40%;
            height: 1px;
            display: block;
            background: #fff;
            opacity: 0;
            transition: .4s;
          }
        }
      }
    }
  }
  #sp_nav.on{
    visibility: inherit;
    opacity: 1;
  }
}
/*----------------
works_main
----------------*/
#works_main{
  margin: 0 auto;
  width: 100%;
  opacity: .2;
  transition: .7s;
  /*-----------
  main_v
  -----------*/
  #main_v{
    position: relative;
    width: 100%;
    height: 100vh;
    figure{
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      &::before{
        padding-top: 100%;
        content: "";
        display: block;
      }
      img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .in{
      position: relative;
      position: absolute;
      top: 34%;
      right: 7%;
      z-index: 1;
      padding: 20px 40px;
      max-width: 400px;
      width: 100%;
      text-align: center;
      @media (max-width: 850px){
        top: 30%;
        left: 0;
        right: 0;
        margin: auto;
        padding: 15px;
        max-width: 300px;
      }
      &::before{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        padding-top: 50%;
        width: 100%;
        height: 100%;
        content: "";
        display: block;
        opacity: .6;
        background: #fff;
      }
      h1{
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: bold;
        color: #111;
        @media (max-width: 850px){
          font-size: 20px;
        }
      }
      p{
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.3em;
        color: #111;
        @media (max-width: 850px){
          font-size: 16px;
        }
      }
      .btn{
        padding: 5px 30px;
        display: inline-block;
        font-size: 18px;
        font-weight: 400;
        border: 2px solid #111 ;
        border-radius: 50px;
        color: #111;
        &:hover{
          color: #df5020;
          border: 2px solid #df5020;
          font-weight: 700;
        }
        @media (max-width: 850px){
          padding: 5px 15px;
          font-size: 16px;
        }
      }
    }
  }
  /*-------------
  cont_philosophy
  -------------*/
  #cont_philosophy{
    margin: 0 auto;
    padding: 70px 40px;
    max-width: 1300px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: #fff;
    @media (max-width: 600px){
      padding: 40px;
    }
    section{
      padding: 40px 20px;
      max-width: 260px;
      width: 100%;
      color: #333;
      text-align: center;
      i{
        margin-bottom: 20px;
        display: block;
        font-size: 24px;
      }
      h1{
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 400;
      }
      p{
        font-size: 16px;
        line-height: 1.2em;
        font-weight: 300;
      }
    }
  }
  /*--------------
  cont_vision
  --------------*/
  #cont_vision{
    margin: 0 auto;
    width: 100%;
    .frame{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(1 , 1fr);
      section{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background: #f9f6f0;
        &:nth-of-type(2n) {
          .cont_txt {
            order: 2;
          }
          .cont_img {
            order: 1;
          }
        }
        .cont_txt{
          padding: 20px;
          width: 50%;
          @media (max-width: 600px){
            padding: 10px;
          }
          .in{
            margin: 0 auto;
            padding: 20px;
            max-width: 300px;
            width: 100%;
            text-align: center;
            @media (max-width: 450px){
              padding: 15px 10px 0 10px;
            }
            h1{
              margin-bottom: 20px;
              font-size: 20px;
              font-weight: 500;
              @media (max-width: 600px){
                margin-bottom: 10px;
                font-size: 16px;
              }
              @media (max-width: 450px){
                font-size: 14px;;
              }
            }
            p{
              margin-bottom: 15px;
              color: #333;
              font-size: 18px;
              font-weight: 300;
              line-height: 1.5em;
              @media (max-width: 600px){
                margin-bottom: 5px;
                font-size: 14px;
                line-height: 1.3em;
              }
              @media (max-width: 450px){
                font-size: 12px;;
              }
            }
            .btn{
              i{
                color: #333;
                padding: 20px;
                display: block;
                font-size: 16px;
                &:hover{
                  color: #df5020;
                  transform: scale(1.3);
                }
                @media (max-width: 600px){
                  padding: 15px;
                }
              }
            }
          }
        }
        .cont_img{
          width: 50%;
          height: 100%;
          background: #eee;
          figure{
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            &::before{
              padding-top: 100%;
              content: "";
              display: block;
            }
            img{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
  #cont_faq{
    margin: 0 auto;
    padding: 40px;
    max-width: 1300px;
    width: 100%;
    @media (max-width: 600px){
      padding: 20px;
    }
    .ttl{
      margin: 0 auto;
      padding: 10px 20px;
      width: 100%;
      background: #fff;
      @media (max-width: 600px){
        padding: 10px 20px 0 20px;
      }
      h1{
        margin: 0 auto;
        padding: 20px;
        width: 100%;
        color: #111;
        text-align: center;
        font-size: 32px;
        font-weight: 400;
        letter-spacing: .2em;
      }
    }
    dl{
      margin: 20px auto;
      max-width: 900px;
      border: 1px solid #ddd;
      dt{
        padding: 22px 15px;
        display: flex;
        align-items: center;
        background: #fff;
        color: #111;
        font-size: 16px;
        font-weight: 400;
        border-top: 1px solid #ddd;
        @media (max-width: 600px){
          font-size: 14px;
        }
        &:hover{
          color: #df5020;
          &::before,&::after{
            color: #df5020;
          }
          @media (max-width: 769px){
            color: #111;
            &::before,&::after{
              color: #111;
            }
          }
        }
        &:first-of-type{
          border-top: none;
        }
        &::before{ 
          margin-right: 15px;
          font-family: "Font Awesome 5 Free";
          content: "\f059";
          font-weight: 400;
          color: #333;
          font-size: 20px;
          @media (max-width: 450px){
            font-size: 15px;
          }
        }
        &::after{
          margin-left: auto;
          font-family: "Font Awesome 5 Free";
          content: "\f077";
          font-weight: 900;
          font-size: 15px;
          color: #333;
          transition: .5s;
          @media (max-width: 450px){
            display: none;
          }
        }
      }
      dd{
        margin: -1px;
        padding: 0 30px;
        height: 0;
        background: #f9f6f0;
        color: #111;
        font-size: 16px;
        font-weight: 400;
        border: 1px solid #ddd;
        transition: .5s;
        visibility: hidden;
        overflow: hidden;
        opacity: 0;
        @media (max-width: 600px){
          padding: 0 20px;
          font-size: 14px;
        }
      }
      dt.on{
        &::after{
          transform: rotateX(180deg);
        }
      }
      dd.on{
        padding: 40px 30px;
        height: auto;
        visibility: inherit;
        opacity: 1;
        @media (max-width: 600px){
          padding: 20px;
        }
      }
    }
  }
}
#works_main.on {
  opacity: 1;
}
/*------------
footer
------------*/
footer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  small{
    padding: 10px 20px;
    max-width: 340px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: .02em;
    color: #111;
    @media (max-width: 450px){
      padding: 12px 20px;  
      font-size: 12px;
    }
  }
}